[submodule "Dependencies/googletest"]
	path = Dependencies/googletest
	url = https://github.com/HeliumProject/googletest.git
[submodule "Dependencies/mongo-c"]
	path = Dependencies/mongo-c
	url = https://github.com/HeliumProject/mongo-c.git
[submodule "Dependencies/premake"]
	path = Dependencies/premake
	url = https://github.com/HeliumProject/premake-core.git
[submodule "Dependencies/rapidjson"]
	path = Dependencies/rapidjson
	url = https://github.com/HeliumProject/rapidjson.git
